.bg-animated {
	-webkit-animation: bg-animated 3s ease-in-out infinite alternate-reverse both;
	animation: bg-animated 3s ease-in-out infinite alternate-reverse both;
	background-size: 100% 250%;
  background-repeat: no-repeat;
}
@-webkit-keyframes bg-animated{
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes bg-animated{
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
.pulsate {
	-webkit-animation: pulsate 0.5s ease-in-out infinite both;
	animation: pulsate 0.5s ease-in-out infinite both;    
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate{
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.rotate-center {
	-webkit-animation: rotate-center 3s linear infinite ;
	        animation: rotate-center 3s linear infinite ;
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: translatey(-50%) translatex(-50%) rotate(0);
    transform: translatey(-50%) translatex(-50%) rotate(0);
  }
  100% {
    -webkit-transform: translatey(-50%) translatex(-50%) rotate(360deg);
    transform: translatey(-50%) translatex(-50%) rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: translatey(-50%) translatex(-50%) rotate(0);
    transform: translatey(-50%) translatex(-50%) rotate(0);
  }
  100% {
    -webkit-transform: translatey(-50%) translatex(-50%) rotate(360deg);
    transform: translatey(-50%) translatex(-50%) rotate(360deg);
  }
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1rem, 1rem);
            transform: translate(-1rem, 1rem);
  }
  40% {
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
  }
  60% {
    -webkit-transform: translate(1rem, 1rem);
            transform: translate(1rem, 1rem);
  }
  80% {
    -webkit-transform: translate(1rem, -1rem);
            transform: translate(1rem, -1rem);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1rem, 1rem);
            transform: translate(-1rem, 1rem);
  }
  40% {
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
  }
  60% {
    -webkit-transform: translate(1rem, 1rem);
            transform: translate(1rem, 1rem);
  }
  80% {
    -webkit-transform: translate(1rem, -1rem);
            transform: translate(1rem, -1rem);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.vibrate-2 {
	-webkit-animation: vibrate-2 0.3s linear infinite both;
	        animation: vibrate-2 0.3s linear infinite both;
}
@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(1rem, -1rem);
            transform: translate(1rem, -1rem);
  }
  40% {
    -webkit-transform: translate(1rem, 1rem);
            transform: translate(1rem, 1rem);
  }
  60% {
    -webkit-transform: translate(-1rem, 1rem);
            transform: translate(-1rem, 1rem);
  }
  80% {
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(1rem, -1rem);
            transform: translate(1rem, -1rem);
  }
  40% {
    -webkit-transform: translate(1rem, 1rem);
            transform: translate(1rem, 1rem);
  }
  60% {
    -webkit-transform: translate(-1rem, 1rem);
            transform: translate(-1rem, 1rem);
  }
  80% {
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
