.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2.5rem;
}
.container-fluid {
  max-width: 100%;
}
@media (max-width: 1240px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 990px;
  }
}
@media (max-width: 990px) {
  .container {
    max-width: 770px;
  }
}
@media (max-width: 770px) {
  .container {
    max-width: 580px;
  }
}
@media (max-width: 580px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 400px) {
}
