@font-face {
  font-family: 'Afacad';
  src: url('../fonts/Afacad-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Afacad';
  src: url('../fonts/Afacad-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Afacad';
  src: url('../fonts/Afacad-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Afacad';
  src: url('../fonts/Afacad-Regular.ttf') format('truetype');
  font-weight: 400;
}