:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  font-family: 'Afacad', sans-serif;
}
* {
  box-sizing: border-box !important;
  font-family: 'Afacad', sans-serif;
}
.swiper {
  width: 600px;
  height: 300px;
}