:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  font-family: 'Afacad', sans-serif;
  --gray: #333333;
  --gray-2: #4F4F4F;
  --green: #2DAF5F;
}
* {
  box-sizing: border-box !important;
  font-family: 'Afacad', sans-serif;
  color: white;
}
.btn-green{
  background-color: var(--green);
  padding: 1.3rem 2.4rem;
  border-radius: 5rem;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.6;
  color: white
}
.btn-border-white{
  border: 0.1rem solid white;
  padding: 1.2rem 2.3rem;
  border-radius: 5rem;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.6;
  color: white
}
.btn-border-gray{
  border: 0.1rem solid #2a2a2a;
  padding: 1.2rem 2.3rem;
  border-radius: 5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
  color: #2a2a2a
}
.overline{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  position: relative;
  border: 0.1rem solid var(--green);
  border-radius: 5rem;
  padding: 0.8rem 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
}
.overline::before{
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: var(--green);
  border-radius: 100%;
  -webkit-animation: pulsate 1s ease-in-out infinite;
	animation: pulsate 1s ease-in-out infinite;   
}
.title{
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1;
  color: white;
}
.text{
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  color: white;
}
.text span{
  font-weight: 700;
}
.swiper {
  width: 600px;
  height: 300px;
}
@media (max-width: 990px) {
  .btn-green{
    padding: 1.1rem 2.1rem;
    font-size: 1.6rem;
  }
  .btn-border-white{
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }
  .btn-border-gray{
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }
  .overline {
    padding: 0.4rem 1rem;
    font-size: 1.4rem;
  }
  .title {
    font-size: 4.5rem;
  }
  .text{
    font-size: 1.6rem;
  }
}
@media (max-width: 580px) {
  .title {
    font-size: 4rem;
  }
}