.header{
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
  position: relative;
  z-index: 20;
}
.header .logo{
  width: 19rem;
}
.header .logo img{
  width: 100%;
}
.header .button-menu-toggle{
  width: 3rem;
  height: 4rem;
  position: relative;
  display: none;
}
.header .button-menu-toggle div{
  background-color: white;
  width: 100%;
  height: 0.3rem;
  border-radius: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}
.header .button-menu-toggle div:nth-child(1){
  top: calc(50% - 0.15rem - 1rem);
}
.header .button-menu-toggle div:nth-child(2){
  top: calc(50% - 0.15rem);
}
.header .button-menu-toggle div:nth-child(3){
  top: calc(50% - 0.15rem + 1rem);
}
.header .button-menu-toggle.active div:nth-child(1){
  top: calc(50% - 0.15rem);
  transform: rotate(-45deg);
}
.header .button-menu-toggle.active div:nth-child(2){
  width: 0%;
  left: 50%;
}
.header .button-menu-toggle.active div:nth-child(3){
  top: calc(50% - 0.15rem);
  transform: rotate(45deg);
}
.header .menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}
.header .menu .menu-item{
  font-size: 1.8rem;
}
.header .btn-green{
  padding: 0.8rem 2.5rem;
}
@media (max-width: 990px) {
  .header .menu{
    gap: 2rem;
  }
  .header .logo{
    width: 15rem;
  }
}
@media (max-width: 770px) {
  .header {
    height: 6rem;
   }
  .header .button-menu-toggle{
    display: flex;
  }
  .header .menu{
    position: absolute;
    flex-direction: column;
    background-color: white;
    top: 6rem;
    right: 0rem;
    gap: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transform: scaleY(0) scaleX(0);
    transform-origin: top right;
    transition: 0.3s ease-in-out;
  }
  .header .menu.active{
    transform: scaleY(1) scaleX(1);
  }
  .header .menu .menu-item{
    color: var(--gray);
    margin: 1rem;
    font-size: 1.6rem;
  }
  .header .menu .btn-green{
    color: white;
  }
}