.section-hero{
  background: linear-gradient(180deg, #133128 30%, #05141E 70%);
  background-size: 100% 250%;
  padding: 14rem 0rem 8rem 0rem;
  margin-top: -8rem;
  position: relative;
}
.section-hero .title{
  font-size: 6.4rem;
}
.section-hero::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/Grid.png');
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
  opacity: 0.3;
}
.section-hero .content{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: relative;
  z-index: 10;
}
.section-hero .title{
  width: 80rem;
}
.section-hero .text{
  width: 72rem;
}
.section-hero .box-btns{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}
.section-hero .btn-green{
  width: 20rem;
}
.section-hero .btn-border-white{
  width: 20rem;
}
@media (max-width: 990px) {
  .section-hero .title {
    width: 53rem;
    font-size: 5rem;
  }
  .section-hero .text {
    width: 63rem;
  }
}
@media (max-width: 770px) {
  .section-hero .title {
    width:100%;
  }
  .section-hero .text {
    width:100%;
  }
}