.section-4{
  padding: 7.5rem 0rem;
  background-color: #ebebeb;
}
.section-4 .container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.section-4 .overline{
  color: var(--gray);
}
.section-4 .title{
  color: var(--gray);
  text-align: center;
}
.section-4 .subtitle{
  color: var(--gray);
  width: 56rem;
  text-align: center;
}
.section-4 .swiper-reviews{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-4 .swiper-reviews .swiper-pagination{
  position: relative!important;
}
.section-4 .swiper-reviews .review-card{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: white;
  border: 0.1rem solid #EEEEEF;
  border-radius: 1.5rem;
  padding: 3rem;
}
.section-4 .swiper-reviews .review-header{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}
.section-4 .swiper-reviews .review-photo{
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}
.section-4 .swiper-reviews .review-name-company{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-4 .swiper-reviews .review-name{
  color: #1D1E25;
  font-size: 1.8rem;
  font-weight: 700;
}
.section-4 .swiper-reviews .review-company-name{
  color: #7E8492;
  font-size: 1.6rem;
  font-weight: 400;
}
.section-4 .swiper-reviews .review-text{
  color: #1D1E25;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6;
}
.section-4 .swiper-reviews .review-stars{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.section-4 .swiper-reviews .star{
  width: 1.5rem;
}
@media (max-width: 990px) {
  .section-4{
    padding: 5rem 0rem;
  }
  .section-4 .swiper-reviews .review-text{
    font-size: 1.5rem;
  }
}
@media (max-width: 770px) {
  .section-4 .subtitle{
    width: 100%;
  }
}