.section-7 {
  margin-bottom: 7.5rem;
}
.section-7 .box{
  width: 100%;
  padding: 6rem;
  border-radius: 3rem;
  background: url('../img/bg-s6.png');
  background-position: left center;
}
.section-7 .content{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.section-7 .title{
  width: 55rem;
}
.section-7 .subtitle{
  width: 36rem;
}
.section-7 .box-btns{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.section-7 .box-btns a{
  width: 21rem;
}
@media (max-width: 990px) {
  .section-7 .title {
      width: 46rem;
  }
  .section-7 .subtitle {
    width: 32rem;
  }
  .section-7 .box{
    background: linear-gradient(-45deg, #133128 30%, #05141E 70%);
  }
}
@media (max-width: 770px) {
  .section-7 .title,
  .section-7 .subtitle {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .section-7 .box{
    padding: 4rem;
  }
  .section-7 .content{
    gap: 2rem;
  }
  .section-7 .box-btns{
    flex-direction: column;
  }
  .section-7 .box-btns a{
    width: 26rem;
  }
}
@media (max-width: 400px) {
  .section-7 .box{
    padding: 2rem;
    border-radius: 2rem;
  }
  .title {
    font-size: 3rem;
  }
}