.section-2 {
  padding: 7.5rem 0rem;
  background: #F3FAF6;
}
.section-2 .container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.section-2 .overline{
  color: var(--gray);
}
.section-2 .title{
  color: var(--gray);
  text-align: center;
  width: 67rem;
}
.section-2 .content{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5rem;
}
.section-2 .box-image{
  position: relative;
  padding: 3rem;
  display: flex;
  align-items: flex-end;
  border-radius: 1rem;
  width: 42rem;
  height: 51rem;
  background: url('../img/fotografo.png');
  background-size: cover;
  background-position: center;
}
.section-2 .box-image::before{
  content: '';
  position: absolute;
  top: 12rem;
  left: 5rem;
  width: 6rem;
  height: 6rem;
  background: url("../img/icon-lantern.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  	-webkit-animation: vibrate-1 5s linear infinite both;
	        animation: vibrate-1 5s linear infinite both;
}
.section-2 .box-image::after{
  content: '';
  position: absolute;
  top: 10rem;
  right: 5rem;
  width: 6rem;
  height: 6rem;
  background: url("../img/icon-camera.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  	-webkit-animation: vibrate-2 5s linear infinite both;
	        animation: vibrate-2 5s linear infinite both;
}
.section-2 .text-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-2 .text-content .text,
.section-2 .text-content .text span{
  color: var(--gray-2);
}
.section-2 .text-content .text-image{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
}
.section-2 .text-content .text-image img{
  width: 21rem;
}
.section-2 .text-content .box-btns{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}
.section-2 .text-content .btn-green{
  width: 20rem;
}
.section-2 .text-content .btn-border-gray{
  width: 20rem;
}
@media (max-width: 990px) {
  .section-2 {
    padding: 5rem 0rem;
  }
  .section-2 .content{
    gap: 2rem;
  }
  .section-2 .box-image {
    width: 32rem;
    height: 38rem;
    padding: 2rem;
  }
  .section-2 .text-content .text-image img {
    width: 14rem;
  }
  .section-2 .text-content .btn-green{
    width: 16rem;
  }
  .section-2 .text-content .btn-border-gray{
    width: 16rem;
  }
}
@media (max-width: 770px) {
  .section-2 .title{
    width: 100%;
  }
  .section-2 .content {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .section-2 .box-image{
    order: 2;
    width: 34rem;
    height: 42rem;
  }
  .section-2 .box-image::before,
  .section-2 .box-image::after{
    width: 5rem;
    height: 5rem;
  }
}