.section-3{
  padding: 7.5rem 0rem;
  background-color: #FBFBFB;
}
.section-3 .container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.section-3 .overline{
  color: var(--gray);
}
.section-3 .title{
  color: var(--gray);
  width: 60rem;
  text-align: center;
}
.section-3 .subtitle{
  color: var(--gray);
  width: 56rem;
  text-align: center;
}
.section-3 .boxes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.section-3 .box{
  background: #FEFEFE;
  padding: 5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid #EDEDED;
  box-shadow: 0 0.4rem 0.4rem -0.2rem #18274B14;
}
.section-3 .box-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-3 .box .box-icon {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.section-3 .box .box-title{
  color: #1F2544;
  font-size: 4rem;
  font-weight: 600;
}
.section-3 .box .text,
.section-3 .box .text span{
  color: var(--gray);
}
.section-3 .box .list-check {
  list-style: none; 
  padding-left: 0;  
}

.section-3 .box .list-check .list-check-item {
  position: relative;
  color: var(--gray);
  font-size: 1.7rem;
  padding: 1rem 0rem 1rem 2.5rem;
}
.section-3 .box .list-check .list-check-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* centraliza verticalmente */
  width: 1.5rem;
  height: 1.5rem;
  background: url('../img/icon-check.svg') no-repeat center center;
  background-size: contain;
}
.section-3 .box-big{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5rem;
} 
.section-3 .box-big .box-image{
  max-width: 36rem;
}
.section-3 .box-small{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
} 
.section-3 .box-small .box-image{
  max-width: 100%;
}
.section-3 .box-small:nth-of-type(3){
  grid-column: 2/3;
}
@media (max-width: 990px) {
  .section-3{
    padding: 5em 0rem;
  }
  .section-3 .title,
  .section-3 .subtitle{
    width: 100%;
  }
  .section-3 .box{
    padding: 3rem;
  }
  .section-3 .box .list-check .list-check-item {
    font-size: 1.5rem;
    padding: 0.5rem 0rem 0.5rem 2.5rem;
  }  
  .section-3 .box .box-title{
    font-size: 3rem;
  }
  .section-3 .box .box-icon {
    width: 6rem;
    height: 6rem;
    margin-bottom: 0rem;
  }
  .section-3 .box-big {
    gap: 2rem;
  }
  .section-3 .box-big .box-image{
    width: 30rem;
  }
}
@media (max-width: 770px) {
  .section-3 .box-big{
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .section-3 .box-small,
  .section-3 .box-small:nth-child(3){
    grid-column: 1/3;
    align-items: center;
  }
  .section-3 .box-big .box-image,
  .section-3 .box-small .box-image{
    width: 100%;
    max-width: 30rem;
  }
}
@media (max-width: 580px) {
  .section-3 .box .box-icon {
    width: 5rem;
    height: 5rem;
  }
}