/* GLOBAL CSS */
@import url('./reset.css');
@import url('./fonts.css');
@import url('./container.css');
@import url('./global.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./animation.css');

@import url('./hero.css');
@import url('./section-1.css');
@import url('./section-2.css');